*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body{
    background: #fff;
  }
 
.wrapper .header{
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
  }
.wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
.wrapper .header .header-menu .title span{
    color: #4ccee8;
}
.wrapper .header .header-menu .sideber-btn{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition:0.3s;
    transition-property: color;
}
.wrapper .header .header-menu .sideber-btn:hover{
    color: #4ccee8;
}
.wrapper .header .header-menu ul{
    display: flex;
    
}
.wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}
.wrapper .header .header-menu ul li a:hover{
    background: #4ccee8;
    color: #fff;
}
.wrapper .sideber{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow: auto;
}
.wrapper .sideber .sideber-menu{
    overflow: hidden;
}
.wrapper .sideber .sideber-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.wrapper .sideber .sideber-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
}
.wrapper .sideber .sideber-menu .item{
    width: 250px;
    overflow: hidden;    
}
.wrapper .sideber .sideber-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25 px 20px;
    transition: 0.3s;
    transition-property: color;
}
.wrapper .sideber .sideber-menu .item .menu-btn:hover{
    color: #4ccee8;
}
.wrapper .sideber .sideber-menu .item .menu-btn i{
    margin-right: 20px;
}
.wrapper .sideber .sideber-menu .item a{
    text-decoration: none;
}
.wrapper .sideber .sideber-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
}
.wrapper .sideber .sideber-menu .item .sub-menu{
    background: #3498db;
    overflow: hidden;
    max-height:0 ;
    transition: 0.3s;
    transition-property: background,max-height;
}
.wrapper .sideber .sideber-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #8fc5e9;
    transition: 0.3s;
    transition-property: background;
}
.wrapper .sideber .sideber-menu .item .sub-menu a:hover{
    background: #55b1f0;
}
.wrapper .sideber .sideber-menu .item .sub-menu i{
    padding: 20px;
    font-size: 10px;
}
.wrapper .sideber .sideber-menu .item:target .sub-menu{
    max-height:500px;
}
.wrapper .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    background-image: url(bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
  }
  .wrapper .collapse .sidebar{
      width: 70px;
  }
  .wrapper .collapse .sidebar .profile img,
  .wrapper .collapse .sidebar .profile p,
  .wrapper .collapse .sidebar a span{
      display: none;
  }