* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.humburger {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.open {
  height: auto !important;
}
/*header*/
header {
  width: 100%;
  height: 120px;
  background: #000;
  border-top: 5px solid #40aed7;
}
.nav-grid {
  display: grid;
  grid-template-columns: 225px 1fr;
}
.logo {
  margin-top: 40px;
  color: #fff;
}
.logo h1 {
  font-size: 28px;
  text-transform: uppercase;
}
.logo span {
  font-size: 12px;
}
/* menu*/
ul.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin-top: 7%;
}
ul.menu li {
  list-style: none;
}
ul.menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  padding: 5px 10px;
}
ul.menu li a:hover {
  background: #40aed7;
  padding: 5px 10px;
  border-radius: 5px;
}
/*content*/
.content {
  width: 100%;
  height: auto;
  background: #fff;
}
.content-heding {
  font-size: 80px;
  color: #333;
}
.content-services {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 50px;
}
.content-services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 1rem;
}
.content-services-item {
  border: 1px solid #e4e4e4;
  padding: 20px;
  transition: 0.3s ease-in-out;
  background: #fff;
  cursor: pointer;
}
.content-services-item .fa {
  font-size: 5rem;
  color: #333;
}
.content-services-item h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #333;
  margin: 20px;
}
.content-services-item p {
  font-size: 12px;
  color: #979797;
  margin: 20px;
}
/*content services hover*/
.content-services-item:hover {
  border: 1px solid #40aed7;
  padding: 20px;
  background: #40aed7;
}
.content-services-item:hover .fa {
  font-size: 5rem;
  color: #fff;
}
.content-services-item:hover h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  margin: 20px;
}
.content-services-item:hover p {
  font-size: 12px;
  color: #fff;
  margin: 20px;
}
/*contentmeet*/
.content-meet {
  text-align: center;
  margin-bottom: 50px;
  font-size: 80px;
  color: #d3d3d3;
}
/*content team*/
.content-team-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.content-team-item img {
  width: 100%;
}
.content-team-item h2 {
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #e4e4e4;
  padding: 20px 0;
}
.content-team-item p {
  font-size: 12px;
  color: #979797;
  text-align: left;
  margin-top: 10px;
}
.content-team-item a {
  display: inline-block;
  text-decoration: none;
  color: #40aed7;
  font-size: 12px;
}
.cr {
  text-align: right;
}
/*footer*/
footer {
  width: 100%;
  height: 390px;
  background: #303030;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}
.footer-item {
  padding: 30px 0;
}
/*footer1*/
.footer-item:nth-child(1) h3 {
  color: #fff;
}
.footer-item:nth-child(1) h4 {
  margin-top: 30px;
  font-size: 13px;
  color: #979797;
}
.footer-item:nth-child(1) span.admit {
  color: #666;
  font-size: 10px;
}
.footer-item:nth-child(1) span.admit a {
  display: inline-block;
  margin: 5px 0;
  color: #40aed7;
  font-size: 10px;
  text-decoration: none;
}
.footer-item:nth-child(1) span.date {
  display: inline-block;
  margin: 5px 0;
  color: #979797;
  font-size: 10px;
}
.footer-item:nth-child(1) p {
  margin: 10px 0;
  font-size: 12px;
  color: #979797;
}
.footer-item:nth-child(1) a {
  color: #40aed7;
  font-size: 12px;
  text-decoration: none;
}
/*footer2*/
.footer-item:nth-child(2) h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-item:nth-child(2) ul {
  list-style: none;
}
.footer-item:nth-child(2) ul li {
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #404040;
}
.footer-item:nth-child(2) ul li a {
  color: #40aed7;
  text-decoration: none;
}
/*footer3*/
.footer-item:nth-child(3) h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-item:nth-child(3) p {
  margin-top: 10px;
  color: #979797;
}
.footer-item:nth-child(3) a {
  text-decoration: none;
  color: #40aed7;
}
/*footer4*/
.footer-item:nth-child(4) h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-item:nth-child(4) input,
textarea {
  width: 225px;
  height: 35px;
  background: #222222;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 10px;
}
.footer-item:nth-child(4) textarea {
  height: 80px;
}
.footer-item:nth-child(4) input[type="submit"] {
  background: #40aed7;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
}
/*copyridht*/
.copyridht {
  width: 100%;
  height: 60px;
  background: #2b2b2b;
  color: #979797;
}
.coppyright-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60px;
}
.copytext {
  justify-self: flex-start;
  align-self: center;
}
.credits {
  justify-self: flex-end;
  align-self: center;
}
@media only screen and (max-width: 800px) {
  header {
    height: auto;
  }
  .nav-grid {
    text-align: center;
    grid-template-columns: 1fr;
  }
  ul.menu {
    grid-template-columns: 1fr;
  }
  ul.menu li {
    height: 2.5rem;
  }
  .content-heding {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .content-services-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .content-services-item {
    width: 95%;
  }
  .content-meet {
    font-size: 2.5rem;
  }
  .content-team-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 1rem;
  }
  .content-team-item {
    width: 95%;
  }
  .content-team-item p {
    font-size: 1rem;
  }
  footer {
    height: auto;
  }
  .footer-grid {
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .footer-item:nth-child(1) {
    padding: 2rem 2rem;
  }
  .footer-item:nth-child(3) {
    padding: 2rem 2rem;
  }
  .coppyright {
    padding: 1rem 0;
    height: auto;
  }
  .coppyright-grid {
    grid-template-columns: 1fr;
  }
  .copytext,
  .credits {
    font-size: 0.8rem;
    justify-self: center;
  }
}
@media only screen and (max-width: 760px) {
  header {
    height: auto;
  }
  .nav-grid {
    text-align: center;
    grid-template-columns: 1fr;
  }
  ul.menu {
    grid-template-columns: 1fr;
  }
  ul.menu li {
    height: 2.5rem;
  }
  .content-heding {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .content-services-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .content-services-item {
    width: 95%;
  }
  .content-meet {
    font-size: 2.5rem;
  }
  .content-team-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 1rem;
  }
  .content-team-item {
    width: 95%;
  }
  .content-team-item p {
    font-size: 1rem;
  }
  footer {
    height: auto;
  }
  .footer-grid {
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .footer-item:nth-child(1) {
    padding: 2rem 2rem;
  }
  .footer-item:nth-child(3) {
    padding: 2rem 2rem;
  }
  .coppyright {
    padding: 1rem 0;
    height: auto;
  }
  .coppyright-grid {
    grid-template-columns: 1fr;
  }
  .copytext,
  .credits {
    font-size: 0.8rem;
    justify-self: center;
  }
}

@media only screen and (max-width: 480px) {
  .humburger {
    display: inline-block;
    margin: 1rem;
  }
  .logo {
    top: 0;
  }
  header {
    height: auto;
  }
  .nav-grid {
    text-align: center;
    grid-template-columns: 1fr;
    height: 0;
  }
  ul.menu {
    grid-template-columns: 1fr;
  }
  ul.menu li {
    height: 2.5rem;
  }
  .content-heding {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .content-services-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .content-services-item {
    width: 85%;
  }
  .content-meet {
    font-size: 2.5rem;
  }
  .content-team-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 1rem;
  }
  .content-team-item {
    width: 85%;
  }
  .content-team-item p {
    font-size: 1rem;
  }
  footer {
    height: auto;
  }
  .footer-grid {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .footer-item:nth-child(1) {
    padding: 2rem 2rem;
  }
  .footer-item:nth-child(3) {
    padding: 2rem 2rem;
  }
  .coppyright {
    padding: 1rem 0;
    height: auto;
  }
  .coppyright-grid {
    grid-template-columns: 1fr;
  }
  .copytext,
  .credits {
    font-size: 0.8rem;
    justify-self: center;
  }
}
